// social icons list
mixin socials(section)
    ul.socials
        each ref, item in socials
            li.socials__item
                - var color= (section === 'footer')?'grey':'white'
                a(class="socials__link socials__link_" + item href= ref target="_blank")
                    +icon(item,color,true)

// navigation menu list
mixin nav(sectionName, sectionToPass)
    ul(class= sectionName + '-nav nav')
        each ref, name in navMenu
            if (name!==sectionToPass)
                li(class= sectionName + '-nav__item nav__item')
                    a(class= sectionName + '-nav__link nav__link' href= ref)= name

// developer info block
mixin developer(section)
    div(class= (section)?('developer '+section+'__developer'):('developer'))
        div(class= (section)?('developer__photo '+section+'__developer-photo'):('developer__photo'))
            img(src=developer.photo alt=developer.name)
        div(class= (section)?('developer__name '+section+'__developer-name'):('developer__name'))= developer.name
        div(class= (section)?('developer__description '+section+'__developer-description'):('developer__description'))= developer.description

// icon svg insert
mixin icon(name,mod,isLink)
    svg(class="icon icon_" + name + " icon_" + mod+((isLink)?' icon__link':''))
        use(xlink:href="assets/img/sprite.svg#" + name)

// triangles insert (left||right, size, color)
mixin triangle(leftColor,rightColor)
    .triangles
        svg(viewbox='0 0 900 100' preserveAspectRatio="none" class="triangle triangle_" + leftColor)
            polygon(points='0 0,900 100,0 100')
        svg(viewbox='0 0 900 100' preserveAspectRatio="none" class="triangle triangle_" + rightColor)
            polygon(points='0 100,900 0,900 100')

// - title insert
mixin title(section, title, isMain)
    div(class='title-wrapper '+section+'__title-wrapper')
        svg(class='title-bg title-bg_'+section)
            use(xlink:href='./assets/img/sprite.svg#'+section+'_header')
        if(isMain)
            h1(class='title '+section+'__title')= title
        else
            h2(class='title '+section+'__title')= title

// - skill circle
mixin circle(skill,value)
    div(class="skill skill_" + skill viewbox='0 0 120 120' preserveAspectRatio='none')
        -
            var array = 3.14*value
            var offset = 314-array
        svg.skill__circle
            circle(class="skill__bg skill__bg_grey" cx='60' cy='60' r='60')
            circle(class='skill__indicator skill__indicator_green' cx='60' cy='60' r='50' fill="none" stroke-dasharray =array+' '+offset stroke-width="20" stroke-opacity=value/100)
            circle(class="skill_front skill__front_white" cx='60' cy='60' r='40')
        .skill__name= skill
